* {
    box-sizing: border-box;
}

html {
    font-family: Raleway, sans-serif;
    color: var(--txt);
    /* line-height: 1.25em; */
    letter-spacing: 0.48px;
    line-height: 1.13;
}

body {
    margin: 0;
}


img {
    width: 100%;
	object-fit:cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1em;
}

p {
    margin: 0 0 1em;
}

button {
    font-family: inherit;
    cursor: pointer;
    font-size: 1em;
	background-color: var(--txt);
	color: var(--bgColor);
	/* border: 1px solid var(--outlines); */
	border: none;
	border-radius: 7px;
}

button:hover :not(.menu-toggle-btn) {
	color: var(--headerFooterBg);
}


button:hover a {
	color: var(--headerFooterBg);
}

a {
	text-decoration: none;
	color: var(--bgColor);
}


@media (min-width:780px){
    html {
        font-size: 14px;
    }
}

@media (min-width:1060px){
    html {
        font-size: 16px;
    }
}