/* * design workflow */
/* desktop */
@media (min-width: 1060px) {
	.saved-meme-modal {
		transition: 0.4s;
		position: fixed;
		z-index: 2;
		left: 0;
		top: 130px;
		right: 0;
		bottom: 0;
		width: 400px;
		height: 200px;
		background-color: rgb(240, 233, 210, 0.8);
		color: var(--headerFooterBg);
		padding-top: 75px;
		text-align: center;
		font-size: 2em;
		font-weight: 700;
	}
}

/* tablet */
@media (min-width: 780px) {
	.saved-meme-modal {
		transition: 0.4s;
		position: fixed;
		z-index: 2;
		left: 0;
		top: 130px;
		right: 0;
		bottom: 0;
		width: 350px;
		height: 150px;
		background-color: rgb(240, 233, 210, 0.8);
		color: var(--headerFooterBg);
		padding-top: 55px;
		text-align: center;
		font-size: 2em;
		font-weight: 700;
	}
}

/* mobile */
@media (max-width:780px){
	.saved-meme-modal {
		transition: 0.4s;
		position: fixed;
		z-index: 2;
		left: 0;
		top: 130px;
		right: 0;
		bottom: 0;
		width: 350px;
		height: 150px;
		background-color: rgb(240, 233, 210, 0.8);
		color: var(--headerFooterBg);
		padding-top: 55px;
		text-align: center;
		font-size: 2em;
		font-weight: 700;
	}
}



