
/* .show {
    display: none;
} */


body.menu-open .main-screen {
    pointer-events: auto;
    display: block;
    opacity: 1;
}

@media (max-width:780px){
    .modal {
        width: 300px;
        height: 350px;
        top: 100;
    }
}