@font-face {
    font-family: Raleway;
    src: url("../fonts/Raleway/static/Raleway-Bold.ttf");
}

@font-face {
    font-family: Ubuntu;
    src: url("../fonts/Ubuntu/Ubuntu-Bold.ttf");
}

@font-face {
    font-family: eurofurence;
    src: url("/fonts/eurof35.ttf");
}

@font-face {
    font-family: Lato;
    src: url("/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
    font-family: fa;
    src: url("/fonts/fa/fa-brands-400.ttf");
}